# Vim / IDEs
*.swp
*.swo
.idea/

# RVM
.rvmrc
.ruby-version
.ruby-gemset

# Gemfile
Gemfile.lock

# SimpleCov
coverage/

# RubyProf/Memory Profiler/Benchmark IPS
reports/

# Bundler
.bundle
pkg/

# Yard
doc/
.yardoc/

# CTags
tags

# General
tmp/
