env:
  global:
    - CC_TEST_REPORTER_ID=6f07a33d1bf4060910c8b97cb9bf97230bbf1fad75765fef98f3cca9f29cd6b0
language: ruby
before_install:
  - gem install bundler
install:
  - bundle install --without local
rvm:
  - 3.0.0
  - 2.7.2
  - 2.7.1
  - 2.7.0
  - 2.6.6
  - 2.6.5
  - 2.6.4
  - 2.6.3
  - 2.6.2
  - 2.6.1
  - 2.6.0
  - 2.5.8
  - 2.5.7
  - 2.5.6
  - 2.5.5
  - 2.5.4
  - 2.5.3
  - 2.5.2
  - 2.5.1
  - 2.5.0
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - bundle exec rspec
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
